RewriteEngine On
    RewriteBase /Tugas-ContactApp-PWEBPR-A-1039/
    RewriteRule ^index\\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /Tugas-ContactApp-PWEBPR-A-1039/index.php [L]